# This workflow runs tests and sends a coverage report to Coveralls
# with uv as the Python package and project manager

# Requirements: Calling repo must
# - specify the Python version in a .python-version file or in a pyproject.toml
# - contain a Makefile with `make test` and `make coveralls` commands.

name: Python Shared Test Workflow

on: 
  pull_request:
    paths-ignore:
      - '.github/**'
  workflow_call:

jobs:
  test: 
    name: Run tests and report coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
      
      - name: Create virtual environment
        run: make install
      
      - name: Run tests and make coverage report
        run: |
          make test
          make coveralls
      
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: false
