# This workflow runs tests and sends a coverage report to Coveralls
# Requirements: Calling repo must use pipenv for dependency management, contain a
# .python-version file, and contain a Makefile with `make test` and `make coveralls`
# commands.
name: Python Shared Test Workflow

on:
  workflow_call:

jobs:
  test:
    name: Run tests and report coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Get python version
        run: |
          python_version=$(cat .python-version)
          echo "python_version=${python_version}" >> $GITHUB_ENV

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.python_version }}
          architecture: x64

      - name: Install
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --dev

      - name: Run tests and make coverage report
        run: |
          make test
          make coveralls

      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fail-on-error: false
